.settings-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto-Bold';

    & a:hover, & a:focus, & a:active{
        outline: none;
        cursor: pointer;
    }
    & svg{
        fill: #071A52;
    }
}
@media (min-width: 801px){
    .settings-menu{
        font-size: 2vh;
        gap: 0 5vh;
        align-items: flex-end;


        & .--active, & a:focus{
            width: 10vh;
            height: 5vh;
            border-top-left-radius: 1.5vh;
            border-top-right-radius: 1.5vh;
            box-shadow: inset .2vh .2vh .6vh #c0cfd0,
                        inset -.2vh -.2vh .6vh #ffffff;
        }
        & li{
            width: 10vh;
            height: 5vh;
            border-top-left-radius: 1.5vh;
            border-top-right-radius: 1.5vh;
            box-shadow: .2vh .2vh .6vh #c0cfd0,
                    -.2vh -.2vh .6vh #ffffff;
        }
        & svg{
            margin: 1vh 0 0 0;
            width: 3.6vh;
            height: 3.6vh;
        }
    }
}