.--flex{
    display: flex;
}
.--column{
    flex-direction: column;
}
.--row{
    flex-direction: row;
}
.--full-width{
    width: 100%;
}
.--full-height{
    height: 100%;
}
.--justify-end{
    justify-content: flex-end;
}
.--centralize{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.--centralize-horiz{
    align-items: center;
}
.--centralize-vert{
    justify-content: center;
}
.--smooth-transition{
    transition: color .25s ease-in-out, fill .25s ease-in-out, background-color .25s ease-in-out, opacity .25s ease-in-out;
}