.topframe{
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    & button{
        -webkit-app-region: no-drag;

        & path{
            fill: black;
        }
    }
}
@media (min-width: 801px){
    .topframe{
        height: 5vh;

        & button{
            width: 5vh;
            height: 5vh;

            & svg{
                width: 2vh;
                height: 2vh;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover, &:active, &:focus{
                background-color: #dddddd;
                outline: none;
            }
            &:last-of-type{
                &:hover, &:active, &:focus{
                    & path{
                        fill: white;
                    }
                    
                    background-color: red;
                }
            }
        }
    }
}